/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html{
    font-family: sans-serif;
}

header{
    background-color: orange;
    padding-block: 20px;
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    /* right: 0; */
}

.container{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    align-items: center;
}

header div figure img{
    height: 60px;
} 

.icons{
    display: flex;
    gap: 20px;
    font-size: 2rem;
}

nav ul{
    display: flex;
    gap: 10px;
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
}

nav ul li{
    list-style-type: none; 
    font-size: 2rem;
}

.row{
    display: flex;
    gap: 20px;
    padding-block: 30px;
}

.photo{ 
    position: relative;
    background-repeat: no-repeat;
}

.relaxed{
    background-image: url(./img/img-defaul/1.webp);
}

.guess{
    background-image: url(./img/img-defaul/2.webp);
}

.zucchero{
    background-image: url(./img/img-defaul/3.webp);
}

.tee{
    background-image: url(./img/img-defaul/4.webp);
}

.deluxe{
    background-image: url(./img/img-defaul/5.webp);
}

.sweater{
    background-image: url(./img/img-defaul/6.webp);
}

.heart{
    position: absolute;
    font-size: 40px;
    top: 5px;
    right: 0;
    background-color: #ffffff;
    padding: 10px;
}

.heart:hover{ 
    color: red;
}

.discount{
    background-color: red;
    color: white;
    padding: 5px;
}

.sustainability{
    background-color: green;
    color: white;
    padding: 5px;
}

.more{
    position: absolute;
    bottom: 40px;
    left: 0;
}

.brand, .real-price{
    color: gray;
}

.discounted-price{
    color: red;
}

.real-price{
    text-decoration: line-through; 
}

.box{
    width: calc(100% / 3 - 40px);
}

.hover{
    opacity: 0;
}

.hover:hover{
    opacity: 1;
}

.container div ul li{
    list-style-type: none;
}

.container div ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
}

.container div ul{
    display: flex;
    gap: 20px;
}

footer{
    color: #ffffff;
    background-color: rgb(31, 31, 33);
    padding-block: 20px;
}

.social{
    font-size: 2rem;
}

h4{
    font-size: 3rem;
    margin-bottom: 10px;
} 
